@charset "UTF-8";
/* CSS Document */
body {
    background-color: #A1915E;
}


.webSummary {
    width: 225px;
    border: solid medium black;
    margin-top: 10px;
    margin-left: 15px;
    float: left;
}
