@charset "UTF-8";
/* CSS Document */
body {
    background-color: #A1915E;
}

@font-face {
    font-family: ttf;
    src: url(comic.ttf);
}

.webSummary {
    width: 225px;
    border: solid medium black;
    margin-top: 10px;
    margin-left: 15px;
    float: left;
    font-family: ttf;
}

.slideImage {
    width: 800px;
    height: 500px;
    margin-top: 15px;
    margin-left: 300px;
    border: 5px solid black;
}
