@charset "UTF-8";
/* CSS Document */
.Giza {
	width: 75%;
	margin-left: auto;
	margin-right: auto;
}

h2 { 
	border-bottom: medium black solid;
}
.heading {
	width: 25%;
}
.gizapic{
	width:600px;
	length:600px;
	float: left;
	border: 15px;
	
}


.paragraphgiza{
	margin-left: auto;
	margin-right: auto;

}

.picGiza2 {
	width: 600px;
	length:600px;
	float: right;
	border: 15px;
	
}
.clearfloat {
	
	clear:both;
}
.margingiza{
	margin-left: auto;
	margin-right: auto;
}