@charset "UTF-8";
/* CSS Document */
.Giza {
	width: 90%;
	margin-left: auto;
	margin-right: auto;
}

h2 { 
	border-bottom: medium black solid;
}
.heading {
	width: 25%;
}
.gizapic{
	width:300px;
	length:300px;
	clear: left;
	
}
