@charset "UTF-8";
/* CSS Document */

body {
    background-color: #C9BFA5;
}

.zuespic { 
    	float: left;
    	width: 400px;
    	height: 400px;
    	margin-right: 10px;
	margin-bottom: 10px;
}

.clear {
	clear: both
}

.picZues2 {
	float: right;
    width: 500px;
    height: 350px;
    margin-left: 10px;
}

.Giza {
    width: 75%;
	margin-left: auto;
	margin-right: auto;
    border-left: 5px solid #006400;
    border-right: 5px solid #006400;
    padding-left: 55px;
    padding-right: 55px;
}
