@charset "UTF-8";
/* CSS Document */

body {
    background-color: #C9BFA5;
}

.zuespic { 
	float: left;
	border: 10px solid black;
	margin-right: 15px;
	margin-bottom: 15px;
}

.clear {
	clear: both
}

.picZues2 {
	float: right;
	border: 10px solid black;
	margin-left:200px;
}

.heading {
	border-bottom: 5px solid black;
	width: 32%;
}

.Giza {
    width: 75%;
	margin-left: auto;
	margin-right: auto;
    border-left: 5px solid #006400;
    border-right: 5px solid #006400;
    padding-left: 55px;
    padding-right: 55px;
}

.paragraphgiza {
	width: 750px;
	margin-left: auto;
	margin-right: auto;
}

.zuesText2 {
	width: 750px;
	margin-left: auto;
	margin-right: auto;
}

p {
	font-size: 18px;	
}
