@font-face {
    font-family: ttf;
    src: url();
}
.topnav {
    background-image:url(https://upload.wikimedia.org/wikipedia/commons/4/48/Teleidoscope_animation.gif);
    overflow: hidden;
}
.topnav a {
    width: 125px;
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    font-family: ttf;
}
.topnav a:hover {
    background-color: #ddd;
    color: black;
}
.topnav a.active {
    background-color: #4CAF50;
    color: white;
}

.dropCont {
	display: none;
    position: absolute;
    left: 163px;
    top: 56.25px;
    width: 152.75px;
    background: rgba(0, 0, 0, 0.1);
}

.dropBut {
    position: relative;
}

.show {
    display: block;
}

ul {
    list-style: none;
}
div#drop {
    border: medium solid #000000;
}

.wondersItems {
    text-align: left;
    color: #000000;
}


